#root {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #1e1e2f, #2a2a3d, #3b3b50);
  background-attachment: fixed;
  transition: 0.2s ease;
}

body.dark {
  background: linear-gradient(135deg, #1e1e2f, #2a2a3d, #3b3b50);
  color: white;
}

body.light {
  background: linear-gradient(135deg, #f4f0fa, #e6e2f3, #d9d2ec);
  color: #1e1e2f;
}


 .App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#twitchy {
  font-size: 5rem;
  margin-bottom: 0.1rem;
  margin-top: 2rem;
}

.purple-y {
  color: purple;
}

p {
  font-size: 20px;
}

.themeButton {
  border: none;
  border-radius: 6px;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: background-color 0.2s ease;
}

body.light .themeButton {
  background-color: purple;
}
body.light .themeButton:hover {
  background-color: rgb(231, 108, 231);
}

body.dark .themeButton {
  background-color: rgb(231, 108, 231);
}

body.dark .themeButton:hover {
  background-color: purple;
}

.searchbar {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
}

#searchInput {
  padding: 1rem 1.3rem;
  font-size: 1rem;
  border: 1px solid #8a2be2;
  width: 20vw;
  min-width: 200px;
  max-width: 400px;

  background-color: transparent;
}

body #searchInput:-webkit-autofill {
  border: 1px solid #8a2be2;
  background-color: transparent;
  transition: background-color 9999s ease-in-out 0s;
}

body.light #searchInput, #searchInput:-webkit-autofill {
  -webkit-text-fill-color: #1e1e2f !important;
}
body.dark #searchInput, #searchInput:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

#searchButton {
  padding: 1rem 1rem;
  font-size: 1rem;
}

.stream {
  display: flex;
  gap: 1rem;

  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 2rem;
  background: rgba(255, 255, 255, 0.05); 
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  
  padding: 1rem 1rem;
}

body.dark .stream {
  background: rgba(0, 0, 0, 0.05);
}

.stream iframe {
  margin: 1rem;
}

#twitch-chat-embed, .twitch-stream-embed {
  box-shadow: 0 0 30px rgba(138, 43, 226, 0.2);
}

.buttonRow {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

button, input {
  border-radius: 8px;
  border: none;
}

.toggleChatButton, .closeStreamButton {
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #8a2be2;
  transition: background-color 0.2s ease;

  margin-bottom: 2rem;
}

.toggleChatButton:hover,
.closeStreamButton:hover {
  background-color: #6c1bbd;
}

#searchButton {
  transition: 0.2s ease;
}
#searchButton:hover {
  color: white;
  background-color: #3e3e3e;
}

.credits a {
  position: fixed;
  bottom: 10px;
  right: 20px;
  font-size: 0.8rem;
  color: #aaa;
  opacity: 0.7;
  z-index: 100;
}

body.light .credits a {
  color: #444;
}
body.dark .credits a {
  color: #bbb;
}

body .credits a:hover {
  color: #999;
}



